### Import Libraries

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType

In [3]:
spark = SparkSession.builder.appName("firstApp").getOrCreate()

In [4]:
 df = spark.read.csv("linkdin_Job_data.csv", header='True')

In [5]:
df.show(1) #shows first 20 rows

+----------+--------------------+-------------------+----------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+-------+
|    job_ID|                 job|           location|company_id|company_name|work_type|    full_time_remote|        no_of_employ|no_of_application|posted_day_ago|           alumni|Hiring_person| linkedin_followers|hiring_person_link|         job_details|Column1|
+----------+--------------------+-------------------+----------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+-------+
|3471657636|Data Analyst, Tri...|Delhi, Delhi, India|      NULL|   Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|       8 hours|12 company alumni|         NULL|5,395,547 followers|              NULL|About the job Cro...|   NULL|
+----------+--------------------+-------------------+----------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+-------+
only showing top 1 row

In [6]:
df.count()#numbers of rows

7927

In [7]:
df.printSchema()#shema of dataset

root
 |-- job_ID: string (nullable = true)
 |-- job: string (nullable = true)
 |-- location: string (nullable = true)
 |-- company_id: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- full_time_remote: string (nullable = true)
 |-- no_of_employ: string (nullable = true)
 |-- no_of_application: string (nullable = true)
 |-- posted_day_ago: string (nullable = true)
 |-- alumni: string (nullable = true)
 |-- Hiring_person: string (nullable = true)
 |-- linkedin_followers: string (nullable = true)
 |-- hiring_person_link: string (nullable = true)
 |-- job_details: string (nullable = true)
 |-- Column1: string (nullable = true)

### Cleaning Data

In [8]:
#drop: column1,job_details
df = df.drop("Column1", "company_id")

In [9]:
df.show(1)

+----------+--------------------+-------------------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+
|    job_ID|                 job|           location|company_name|work_type|    full_time_remote|        no_of_employ|no_of_application|posted_day_ago|           alumni|Hiring_person| linkedin_followers|hiring_person_link|         job_details|
+----------+--------------------+-------------------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+
|3471657636|Data Analyst, Tri...|Delhi, Delhi, India|   Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|       8 hours|12 company alumni|         NULL|5,395,547 followers|              NULL|About the job Cro...|
+----------+--------------------+-------------------+------------+---------+--------------------+--------------------+-----------------+--------------+-----------------+-------------+-------------------+------------------+--------------------+
only showing top 1 row

In [10]:
df.printSchema()

root
 |-- job_ID: string (nullable = true)
 |-- job: string (nullable = true)
 |-- location: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- full_time_remote: string (nullable = true)
 |-- no_of_employ: string (nullable = true)
 |-- no_of_application: string (nullable = true)
 |-- posted_day_ago: string (nullable = true)
 |-- alumni: string (nullable = true)
 |-- Hiring_person: string (nullable = true)
 |-- linkedin_followers: string (nullable = true)
 |-- hiring_person_link: string (nullable = true)
 |-- job_details: string (nullable = true)

Convert some columns into numeric

In [11]:
df = df.withColumn("posted_day_ago",regexp_extract("posted_day_ago",r'(\d+)',1).cast(IntegerType()))\
.withColumn("alumni",regexp_extract("alumni",r'(\d+)',1).cast(IntegerType()))\
.withColumn("linkedin_followers", regexp_replace("linkedin_followers",r' followers', ''))\

#df.withColumn("no_of_employ",regexp_extract("no_of_employ",r'(\d+)-(\d+)',1).cast(IntegerType()))\
#.withColumn("no_of_employ",regexp_extract("no_of_employ",r'(\d+)-(\d+)',2).cast(IntegerType()))
#regexp_replace(numeric_range, r'[^0-9]', '').cast("int")

In [12]:
df.printSchema()

root
 |-- job_ID: string (nullable = true)
 |-- job: string (nullable = true)
 |-- location: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- full_time_remote: string (nullable = true)
 |-- no_of_employ: string (nullable = true)
 |-- no_of_application: string (nullable = true)
 |-- posted_day_ago: integer (nullable = true)
 |-- alumni: integer (nullable = true)
 |-- Hiring_person: string (nullable = true)
 |-- linkedin_followers: string (nullable = true)
 |-- hiring_person_link: string (nullable = true)
 |-- job_details: string (nullable = true)

In [13]:
df.show()

+----------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------+--------------------+------------------+--------------------+--------------------+
|    job_ID|                 job|            location|        company_name|work_type|    full_time_remote|        no_of_employ|no_of_application|posted_day_ago|alumni|       Hiring_person|linkedin_followers|  hiring_person_link|         job_details|
+----------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------+--------------------+------------------+--------------------+--------------------+
|3471657636|Data Analyst, Tri...| Delhi, Delhi, India|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|             8|    12|                NULL|         5,395,547|                NULL|About the job Cro...|
|3471669068|Data Analyst, Tri...|New Delhi, Delhi,...|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              184|             8|    12|                NULL|         5,395,547|                NULL|About the job Cro...|
|3474349934|  Data Analyst - WFH|Greater Bengaluru...|              Uplers|   Remote|Full-time · Mid-S...|1,001-5,000 emplo...|              200|             9|     3|        Shahid Ahmad|              NULL|https://www.linke...|About the job Pro...|
|3472816027|        Data Analyst|Gurugram, Haryana...|       PVAR SERVICES|  On-site|           Full-time|      1-10 employees|              200|             7|  NULL|       Vartika Singh|             2,094|https://www.linke...|About the job Des...|
|3473311511|        Data Analyst|Mohali district, ...|Timeline Freight ...|  On-site|           Full-time|      1-10 employees|                8|            26|     1|Manisha (Gisele S...|              NULL|https://www.linke...|About the job The...|
|3472504479|        Data Analyst|Gurugram, Haryana...|              airtel|  On-site|Full-time · Entry...|10,001+ employees...|              200|            10|   132|                NULL|           972,657|                NULL|About the job The...|
|3471658510|Data Analyst, Tri...|Bengaluru, Karnat...|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|             8|    12|                NULL|         5,395,546|                NULL|About the job Cro...|
|3472808738|   Shopify Developer|        Delhi, India| Digital Impressions|  On-site|           Full-time|    51-200 employees|                2|             7|     1|     Rashmi Aggarwal|             1,045|https://www.linke...|About the job The...|
|3475061559|  Database Developer|Gurugram, Haryana...|     Kline & Company|   Hybrid|           Full-time|   201-500 employees|                7|            25|  NULL|        Duncan Lawie|            30,319|https://www.linke...|About the job Are...|
|3473336242|   Shopify Developer|Gurugram, Haryana...|          ADesignGuy|   Hybrid|                NULL|                NULL|          minutes|             9|  NULL|                NULL|             2,163|                NULL|About the job Job...|
|3471883751|   Shopify Developer|Noida, Uttar Prad...|Unitalks Technolo...|   Remote|           Full-time|     11-50 employees|               22|            10|  NULL|        Yamini Gupta|             4,780|https://www.linke...|About the job Cre...|
|3467390929|       Data Engineer|Gurugram, Haryana...|         ReNew Power|  On-site|Full-time · Mid-S...|501-1,000 employe...|              111|             5|     4|          Neha Yadav|           198,797|https://www.linke...|About the job Abo...|
|3472504791|       Tableau (APL)|Noida, Uttar Prad...|            Escalent|     NULL|           Full-time|501-1,000 employe...|               36|             9|     3|                NULL|              NULL|                NULL|About the job Who...|
|3470730035|Data Engineer (Py...|Gurugram, Haryana...|Mobile Programmin...|  On-site|           Full-time|1,001-5,000 emplo...|               44|            20|     5|         Ajay Tanwar|           269,349|https://www.linke...|About the job Dat...|
|3467389209|Python Data Engineer|Hyderabad, Telang...|               Tezra|   Remote|           Full-time|     11-50 employees|               29|             6|  NULL|         Sunil Kumar|             6,311|https://www.linke...|About the job Hir...|
|3473305093|      Zoho Developer|               India|     Grow Your Staff|   Remote|            Contract|   201-500 employees|                4|             1|  NULL|         Arjun Reddy|            99,201|https://www.linke...|About the job Gro...|
|3467376975|Salesforce CPQ De...|Hyderabad, Telang...|           ValueLabs|   Remote|Full-time · Mid-S...|5,001-10,000 empl...|               19|             7|   105|venkatesh chittim...|              NULL|https://www.linke...|About the job Dea...|
|3471880568|    Golang Developer|        Delhi, India|Optimal Virtual E...|   Remote|           Full-time|   201-500 employees|               14|            10|  NULL|       Dharmesh Shah|            23,377|https://www.linke...|About the job The...|
|3470733079|"SAP Customer Dat...|Bengaluru, Karnat...|Mobile Programmin...|  On-site|           Full-time|1,001-5,000 emplo...|               13|            20|     5|                NULL|           269,352|                NULL|"About the job SA...|
|3467389203| Quickbase Developer|Hyderabad, Telang...|  Eclatprime Digital|  On-site|           Full-time|    51-200 employees|                2|             6|     2|Prithvi Pragallapati|             4,859|https://www.linke...|About the job Req...|
+----------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------+--------------------+------------------+--------------------+--------------------+
only showing top 20 rows

Handling Missing Values

In [15]:
#Missing values

AttributeError: 'DataFrameNaFunctions' object has no attribute 'sum'

In [18]:
#convert into view
#df.createOrReplaceTempView("apps")