In [2]:
from pyspark.sql import SparkSession

In [3]:
#Create spark session
spark = SparkSession.builder.appName("FirstApp").getOrCreate()  #create object
sc = spark.sparkContext

In [4]:
spark

In [8]:
#spark.stop()

In [7]:
df = spark.read.csv("linkdin_Job_data.csv", header = True)
df.show()#shows 20 first rows

+----------+--------------------+--------------------+----------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------------------+--------------------+-------------------+--------------------+--------------------+------------+
|    job_ID|                 job|            location|company_id|        company_name|work_type|    full_time_remote|        no_of_employ|no_of_application|posted_day_ago|            alumni|       Hiring_person| linkedin_followers|  hiring_person_link|         job_details|     Column1|
+----------+--------------------+--------------------+----------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------------------+--------------------+-------------------+--------------------+--------------------+------------+
|3471657636|Data Analyst, Tri...| Delhi, Delhi, India|      NULL|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|       8 hours| 12 company alumni|                NULL|5,395,547 followers|                NULL|About the job Cro...|        NULL|
|3471669068|Data Analyst, Tri...|New Delhi, Delhi,...|      NULL|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              184|       8 hours| 12 company alumni|                NULL|5,395,547 followers|                NULL|About the job Cro...|        NULL|
|3474349934|  Data Analyst - WFH|Greater Bengaluru...|      NULL|              Uplers|   Remote|Full-time · Mid-S...|1,001-5,000 emplo...|              200|       9 hours|  3 company alumni|        Shahid Ahmad|               NULL|https://www.linke...|About the job Pro...|        NULL|
|3472816027|        Data Analyst|Gurugram, Haryana...|      NULL|       PVAR SERVICES|  On-site|           Full-time|      1-10 employees|              200|       7 hours|              NULL|       Vartika Singh|    2,094 followers|https://www.linke...|About the job Des...|        NULL|
|3473311511|        Data Analyst|Mohali district, ...|      NULL|Timeline Freight ...|  On-site|           Full-time|      1-10 employees|                8|    26 minutes|  1 company alumni|Manisha (Gisele S...|               NULL|https://www.linke...|About the job The...|        NULL|
|3472504479|        Data Analyst|Gurugram, Haryana...|      NULL|              airtel|  On-site|Full-time · Entry...|10,001+ employees...|              200|      10 hours|132 company alumni|                NULL|  972,657 followers|                NULL|About the job The...|        NULL|
|3471658510|Data Analyst, Tri...|Bengaluru, Karnat...|      NULL|           Crossover|   Remote|Full-time · Assoc...|1,001-5,000 emplo...|              200|       8 hours| 12 company alumni|                NULL|5,395,546 followers|                NULL|About the job Cro...|        NULL|
|3472808738|   Shopify Developer|        Delhi, India|      NULL| Digital Impressions|  On-site|           Full-time|    51-200 employees|                2|       7 hours|  1 company alumni|     Rashmi Aggarwal|    1,045 followers|https://www.linke...|About the job The...|        NULL|
|3475061559|  Database Developer|Gurugram, Haryana...|      NULL|     Kline & Company|   Hybrid|           Full-time|   201-500 employees|                7|    25 minutes|              NULL|        Duncan Lawie|   30,319 followers|https://www.linke...|About the job Are...|        NULL|
|3473336242|   Shopify Developer|Gurugram, Haryana...|      NULL|          ADesignGuy|   Hybrid|                NULL|                NULL|          minutes|     9 minutes|              NULL|                NULL|    2,163 followers|                NULL|About the job Job...|        NULL|
|3471883751|   Shopify Developer|Noida, Uttar Prad...|      NULL|Unitalks Technolo...|   Remote|           Full-time|     11-50 employees|               22|      10 hours|              NULL|        Yamini Gupta|    4,780 followers|https://www.linke...|About the job Cre...|        NULL|
|3467390929|       Data Engineer|Gurugram, Haryana...|      NULL|         ReNew Power|  On-site|Full-time · Mid-S...|501-1,000 employe...|              111|       5 hours|  4 company alumni|          Neha Yadav|  198,797 followers|https://www.linke...|About the job Abo...|        NULL|
|3472504791|       Tableau (APL)|Noida, Uttar Prad...|      NULL|            Escalent|     NULL|           Full-time|501-1,000 employe...|               36|       9 hours|  3 company alumni|                NULL|               NULL|                NULL|About the job Who...|        NULL|
|3470730035|Data Engineer (Py...|Gurugram, Haryana...|      NULL|Mobile Programmin...|  On-site|           Full-time|1,001-5,000 emplo...|               44|      20 hours|  5 company alumni|         Ajay Tanwar|  269,349 followers|https://www.linke...|About the job Dat...|        NULL|
|3467389209|Python Data Engineer|Hyderabad, Telang...|      NULL|               Tezra|   Remote|           Full-time|     11-50 employees|               29|       6 hours|              NULL|         Sunil Kumar|    6,311 followers|https://www.linke...|About the job Hir...|        NULL|
|3473305093|      Zoho Developer|               India|      NULL|     Grow Your Staff|   Remote|            Contract|   201-500 employees|                4|        1 hour|              NULL|         Arjun Reddy|   99,201 followers|https://www.linke...|About the job Gro...|        NULL|
|3467376975|Salesforce CPQ De...|Hyderabad, Telang...|      NULL|           ValueLabs|   Remote|Full-time · Mid-S...|5,001-10,000 empl...|               19|       7 hours|105 company alumni|venkatesh chittim...|               NULL|https://www.linke...|About the job Dea...|        NULL|
|3471880568|    Golang Developer|        Delhi, India|      NULL|Optimal Virtual E...|   Remote|           Full-time|   201-500 employees|               14|      10 hours|              NULL|       Dharmesh Shah|   23,377 followers|https://www.linke...|About the job The...|        NULL|
|3470733079|"SAP Customer Dat...|Bengaluru, Karnat...|      NULL|Mobile Programmin...|  On-site|           Full-time|1,001-5,000 emplo...|               13|      20 hours|  5 company alumni|                NULL|  269,352 followers|                NULL|"About the job SA...| RaaS Module|
|3467389203| Quickbase Developer|Hyderabad, Telang...|      NULL|  Eclatprime Digital|  On-site|           Full-time|    51-200 employees|                2|       6 hours|  2 company alumni|Prithvi Pragallapati|    4,859 followers|https://www.linke...|About the job Req...|        NULL|
+----------+--------------------+--------------------+----------+--------------------+---------+--------------------+--------------------+-----------------+--------------+------------------+--------------------+-------------------+--------------------+--------------------+------------+
only showing top 20 rows

### Cleaning Data

Removing unessary columns